.row
  .col-md-3
    %h1.checkout-h1 Checkout
  .col-md-9.checkout-nav
    .checkout-nav-lnk-wrap{class: "#{'active' if (controller.controller_name == 'orders' && controller.action_name == 'set_address') || current_page?(checkout_address_orders_path)}  #{"done" if @current_order.billing_address}"}
      =link_to checkout_address_orders_path do  
        .text-lnk Address
        .progress-line
          .step-cercle
            %span.step-number 1
            %span.step-done-icon{class: 'glyphicon glyphicon glyphicon-ok'}
    .checkout-nav-lnk-wrap{class: "#{'active' if (controller.controller_name == 'orders' && controller.action_name == 'set_delivery') || current_page?(checkout_delivery_orders_path)} #{"done" if @current_order.delivery_type}"}
      =link_to checkout_delivery_orders_path do 
        .text-lnk Delivery
        .progress-line
          .step-cercle
            %span.step-number 2
            %span.step-done-icon{class: 'glyphicon glyphicon glyphicon-ok'}
    .checkout-nav-lnk-wrap{class: "#{'active' if (controller.controller_name == 'credit_cards' && (controller.action_name == 'create' || controller.action_name == 'update')) || current_page?(checkout_payment_orders_path)} #{"done" if @current_order.credit_card}"}
      =link_to checkout_payment_orders_path do 
        .text-lnk Payment
        .progress-line
          .step-cercle
            %span.step-number 3
            %span.step-done-icon{class: 'glyphicon glyphicon glyphicon-ok'}
    .checkout-nav-lnk-wrap{class: "#{cp(checkout_confirm_orders_path)}"}
      =link_to checkout_confirm_orders_path do 
        .text-lnk Confirm
        .progress-line
          .step-cercle
            %span.step-number 4
            %span.step-done-icon{class: 'glyphicon glyphicon glyphicon-ok'}    }
