.row
  .col-md-3
    %h3 
      Shipping address
      -if current_page?(checkout_confirm_orders_path)  
        %small= link_to "(edit)", checkout_address_orders_path
    %div= "#{order.shipping_address.firstname} #{order.shipping_address.lastname}"
    %div= order.shipping_address.address
    %div= "#{order.shipping_address.city} #{order.shipping_address.zipcode}"
    %div= order.shipping_address.country.name
    %div= "Phone: #{order.shipping_address.phone}"
  .col-md-3
    %h3 
      Billing address 
      -if current_page?(checkout_confirm_orders_path) 
        %small= link_to "(edit)", checkout_address_orders_path
    %div= "#{order.billing_address.firstname} #{order.billing_address.lastname}"
    %div= order.billing_address.address
    %div= "#{order.billing_address.city} #{order.billing_address.zipcode}"
    %div= order.billing_address.country.name
    %div= "Phone: #{order.billing_address.phone}"
  .col-md-3
    %h3 
      Shipments 
      -if current_page?(checkout_confirm_orders_path) 
        %small= link_to "(edit)", checkout_delivery_orders_path
    %div= "#{order.delivery_type.title} (#{number_to_currency(order.delivery_type.price)})"
  .col-md-3
    %h3 
      Payment information 
      -if current_page?(checkout_confirm_orders_path)
        %small= link_to "(edit)", checkout_payment_orders_path
    %div= "**** **** **** #{order.credit_card.number.split("").last(4).join("")}"
    %div= "#{order.credit_card.exp_month}/20#{order.credit_card.exp_year}"
.row.cart
  .col-md-12
    %br/ 
    %h3 
      Order items
      -if current_page?(checkout_confirm_orders_path) 
        %small= link_to "(edit)", new_order_path
  =render partial: "order_items_list", locals: {order: order}
    