.col-md-12
  %table{class: "table"}
    %thead
      %tr
        %td BOOK
        %td PRICE
        %td QTY
        %td TOTAL
    %tbody
      -@current_order.order_items.each_with_index do |item, index|
        %tr
          %td
            = link_to item.book do
              = image_tag item.book.image.thumb_small.url.to_s 
              = item.book.title
          %td= number_to_currency(item.book.price)
          -if current_page?(new_order_path) 
            %td= number_field_tag "item-#{index}", item.quantity, within: 1..100, class: 'quantity-input'
          -else
            %td= item.quantity
          %td= number_to_currency(item.book.price * item.quantity)
          -if current_page?(new_order_path) 
            %td{class: "remove_link"}
              = link_to item, method: :delete do 
                %span{"aria-hidden" => "true"} &times;
.col-md-6.col-md-offset-6.clearfix.order-summary-block
  -@shipping_price = @current_order.delivery_type ? @current_order.delivery_type.price : 0
  .order-summary-line
    SUBTOTAL: 
    %span=number_to_currency(@current_order.total_price - @shipping_price)
  -unless current_page?(new_order_path) || current_page?(orders_path)
    .order-summary-line
      SHIPPING: 
      %span
        -if @current_order.delivery_type
          =number_to_currency(@shipping_price)
        -else
          %em not specified 
    .order-summary-line.main
      ORDER TOTAL: 
      %span= number_to_currency(@current_order.total_price)