.container.book-page-wrap
  %h1= @book.title
  .row.clearfix
    .col-md-4.image-wrap 
      =image_tag @book.image.url.to_s, class: "thumbnail"
    .col-md-8
      .clearfix
        .price= number_to_currency(@book.price)
        .order-form-wrap
          =form_tag do
            = number_field_tag 'quantity', "1", within: 1...10, class: 'quantity-input'
            = submit_tag "ADD TO CART", class: 'btn btn-primary' 
      %p= @book.short_description
      %div= @book.description

  .row.reviews.clearfix
    .col-md-3
      %h2 Reviews
    .col-md-9.add-review-lnk
      =link_to "Add review for this book", new_book_rating_path(@book)
    .col-md-12
      -if @book.ratings.any?
        -@book.ratings.each do |rating|
          .review
            %span.star-rating
              -(1..5).each do |i|
                -if i <= rating.rating_number
                  %i.active
                -else 
                  %i
            .review-authour="by #{rating.customer.firstname} #{rating.customer.lastname}"
            %time=rating.created_at.strftime("%B %d, %Y")
            %p
              %em=rating.review
      -else
        %br
        .no-reviwes-message There is no revies for this book. Your's can be first :)
      