.container.book-page-wrap
  -if can? :read, @book
    %h1= @book.title
    .row.clearfix
      .col-md-4.image-wrap 
        =image_tag @book.image.url.to_s, class: "thumbnail"
      .col-md-8
        .clearfix
          .price= number_to_currency(@book.price)
          .order-form-wrap
            =form_tag do
              = number_field_tag 'quantity', "1", within: 1...10, class: 'quantity-input'
              = submit_tag "ADD TO CART", class: 'btn btn-primary' 
        %p= @book.short_description
        %div= @book.description

  .row.clearfix.reviews
    .col-md-3
      %h2 Reviews
    .col-md-9.add-review-lnk
      =link_to "Add review for this book", root_path
      