!!! 5
%html
  %head
    %title Amazon
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags 

  %body
    %nav.navbar.navbar-default
      .container.header
        .navbar-brand= link_to "BookStore", root_path
        %ul.nav.navbar-nav
          %li= link_to "Home", root_path, class: cp(root_path)
          %li= link_to "Shop", books_path, class: cp(books_path)
          /%li= link_to "CART (not working)", "#", class: "#{cp(shop_path)} glyphicon glyphicon-shopping-cart"

        %ul.nav.navbar-nav.navbar-right  
          -if current_customer   
            %li= link_to "Settings", settings_path, class: cp(settings_path)        
            %li= link_to "Orders", orders_path, class: cp(orders_path)        
            %li= link_to "Sign out", destroy_customer_session_path, method: :delete
          -elsif current_admin  
            %li= link_to "Admin panel", rails_admin_path         
            %li= link_to "Log out", destroy_admin_session_path, method: :delete  
          -else 
            %li= link_to "Log in", new_customer_session_path, class: cp(new_customer_session_path)
            %li= link_to "Sign up", new_customer_registration_path, class: cp(new_customer_registration_path)
            
    .container.notifications
      - flash.each do |type, message|
        %div{:class => "alert #{bootstrap_class_for(type)}  alert-dismissible"}
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          = message

    = yield

    %br
    %br
  